body {
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    min-height: 100%;
    margin-bottom: -50px;
}

.Main-Title {
    color: white;
    text-decoration: none;
}

.Main-Paper {
    margin: 20px;
    padding: 20px;
}

.Login-Button {
    color: white !important;
    margin-top: 5px !important;
}

.Footer-Bar {
    margin-bottom: 0;
    box-shadow: none !important;
    text-align: center;
    height: 50px;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}

.Blog-Card {
    margin-bottom: 10px;
}

.Icon-Left {
    float: right;
    margin: 0 3px 0 3px;
}

.Blog-Link {

}

.Display-Linebreak {
    white-space: pre-line;
}

.HomeFav-Icon {
    float: left;
    margin-top: -4px;
}

.Chip-Wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 2px 16px 2px 7px !important;
}

.Category-Chip {
    margin: 4px !important;
}